

.wrapper,
.box-confirm,
.alert-clock {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0;
    transition: all .4s ease;
}

.wrapper.show,
.alert-clock.show {
    opacity: 1;
    pointer-events: auto;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.content * {
    background-color: var(--white);
}

.content .tools {
    display: flex;
    justify-content: end;
    padding: .5rem 1rem 10rem;    
}
.content .tools span {
    margin: 0 .5rem;
    cursor: pointer;
    color: var(--black);
}

.timer-conteiner .timer-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 8rem;
    font-family: 'digital';
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--black);
}


.timer-conteiner .buttons {
    display:flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.buttons button {
    border: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.buttons button:not(:disabled):hover {
    background-color: var(--grey-hover);
}
.buttons button:disabled {
    cursor: not-allowed;
}

.popup-box,
.confirm-conteiner {
    background-color: var(--bg-color-popup);
    font-size: 1.5rem;
    width: 40rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #377dff;
    color: #fff;
    padding: .5rem 1rem;
}
.head i {
    cursor: pointer;
}

.input label {
    font-size: 1.2rem;
    color: var(--black);
}

.input .title,
.input .time,
.input .btn-box,
.input .options,
.confirm-conteiner .message,
.confirm-conteiner .btn-box {
    padding: 1rem 2rem .5rem;
}

.input .title input {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    padding: 0 .5rem;
    outline: none;
    border: .1rem solid var(--border-color);
}

.input .time,
.input .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.time select,
.time button,
.song select,
.song button {
    border: .1rem solid var(--border-color);
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.time button,
.song button {
    padding: .5rem 1rem;
}
.time select,
.song select {
    background-color: #fff;
    padding: .5rem 4rem;
}

.input-hours,
.input-minutes,
.input-seconds,
.input-song {
    display: flex;
}

.input .options {
    padding-bottom: 2rem;
}


.btn-box {
    display: flex;
    justify-content: space-around;
    border-top: .1rem solid var(--border-color)
}
.btn-box button{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

button#accept,
button#startTemp {
    background-color: #377dff;
    color: #fff;
}


button#accept:hover,
button#startTemp:hover {
    opacity: .8;
}

.confirm-conteiner .message {
    color: var(--black);
    text-align: center;
}
