
.timer-conteiner .timer-display {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'digital';
    font-weight: 500;
    padding-bottom: 2rem;
    color: var(--black);
    line-height: 1.6;
    word-spacing: .1rem;
}

.timer-display .ms {
    font-size: 3rem;
    width: 5rem;
    white-space: nowrap;
    /* margin-left: .5rem; */
}

.timer-conteiner .buttons {
    display:flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.buttons button {
    border: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.buttons button:not(:disabled):hover {
    background-color: var(--grey-hover);
}
.buttons button:disabled {
    cursor: not-allowed;
}

.flag-conteiner {
    background-color: var(--bg-color-white);
    margin:2rem 0 0;
    padding: 1rem 1.5rem 2rem;
    display: none;
}

.flag-conteiner h3 {
    text-align: left;
    color: var(--black);
    border-bottom: thin solid var(--border-color);
}
.flag-box {
    display: flex;
    justify-content: center;
}
.flag-table {
    font-size: 1.5rem;
    color: var(--black);
}

.flag-table thead *{
    font-size: 2rem;
    padding: .5rem 1rem;
}

.flag-table tbody *{
    font-weight: 300;
    padding: .1rem;
    font-family: "digital";
}